form{
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 40px 70px 10px;
    width: 280px;
    margin: 20px auto;
    color: #000;
    background-color: #fff;
}


a {
    color: rgb(107, 192, 248);

}

a:hover {
    color: rgb(7, 149, 243);

}
h1{
    color: rgb(4, 139, 229);
    text-align: center;
    margin-top: 100px;
}

input{
    font-size: 20px;
    padding: 5px;
    border: 2px solid rgb(222, 224, 225);
    
}


input[type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(1, 102, 168);
}

.actions{
    text-align: center;
    margin: 10px 0;
}

input[type="submit"] {
    
    background-color: rgb(4, 139, 229);
    border: none;
    border-radius: 2px;
    padding: 5px 15px;
    color: #fff;
}

.link {
    text-align: center;
}
