<%= render "header" %>
<div class="content container-fluid">
    <div class="row">
        <div class="col-1">
            <a href="">Feeds</a>
            <a href="">Discover</a>
        </div>
        <div class="col-10 main">
            
        </div>
        <div class="col-1"></div>
    </div>
</div>